<!DOCTYPE html>
<html lang="en">
<head>
  <title>Code Development</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">CodeDevelopment</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        {% for a in attribute %}
        {% if a.number == 0 %}
        <li><a href="#">{{a.name}}</a></li>
        {% else %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> {{a.name}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for i in sub_attribute %}
              {% if i.attribute == a %}
                <li><a href="#">{{i.name}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container">
  <h3>Collapsible Navbar</h3>
  <p>Admin panel contain two Models Attribute and SubAttribute</p>
  <p>SubAttribute contain foreign key of Attribute which alow us to make dropdown</p>
</div>
</body>
</html>
